/* Design System */
:root {
    --pale-blue: #e0e8ff;
    --very-pale-blue: #f5f7ff;
    --desaturated-blue: #7280a7;
    --bright-blue: #3829e0;
    --dark-blue: #1f2f56;
    --white: #fff;
}

/* Fonts */

@font-face {
    font-family: "Red Hat Display";
    src: url("../assets/fonts/RedHatDisplay.woff2") format("woff2");
    font-display: swap;
    font-weight: 300 900;
}

/* Global Styles */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    min-height: 100vh;
    font-family: "Red Hat Display", sans-serif;
    line-height: 1.6;
    letter-spacing: 0;
    padding: 24px;
    background-color: var(--pale-blue);
    background-image: url("../assets/images/pattern-background-mobile.svg");
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

/* Card Styles */

.card {
    background-color: var(--white);
    max-width: 28.125rem;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 40px 40px -20px var(--desaturated-blue);
}

.card-content {
    padding: 32px;
}

.card-title {
    font-size: 1.375rem;
    color: var(--dark-blue);
    font-weight: 900;
}

.card-description {
    margin-top: 16px;
    font-size: 0.938rem;
    font-weight: 500;
    color: var(--desaturated-blue);
}

.plan {
    margin-top: 20px;
    background-color: var(--very-pale-blue);
    border-radius: 11px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}


.plan-type {
    color: var(--dark-blue);
    font-weight: 900;
    font-size: 0.875rem;
}

.plan-price {
    font-size: 0.875rem;
    color: var(--desaturated-blue);
    font-weight: 500;
}

.btn-change-plan {
    color: var(--bright-blue);
    font-size: 0.813rem;
    font-weight: 700;
    border: none;
    background: none;
    text-decoration: underline;
    padding: 0;
    margin-left: auto;
}

.btn-change-plan:hover,
.btn-change-plan:focus {
    text-decoration: none;
    color: #766CF1;
}

.btn-payment {
    display: block;
    margin-top: 24px;
    text-decoration: none;
    background-color: var(--bright-blue);
    color: var(--white);
    border-radius: 11px;
    padding: 10px;
    box-shadow: 0 20px 30px -8px var(--dark-blue);
    font-size: 0.938rem;
    font-weight: 900; 
    width:100%;
}

.btn-payment:hover,
.btn-payment:focus {
    background-color: #766CF1;
    text-decoration: none;
}

.btn-cancel {
    display: block;
    margin-top: 24px;
    text-decoration: none;
    font-size: 0.938rem;
    color: var(--desaturated-blue);
    font-weight: 900;
}

.btn-cancel:hover,
.btn-cancel:focus {
    color: #1F2E55;
}

/* Attribution styles */
.attribution,
.attribution a {
    color: var(--bright-blue);
}


/* Styles for larger screens */

@media (min-width:43.75rem) {
    body {
        background-image: url("../assets/images/pattern-background-desktop.svg");
    }

    .card-content {
        padding: 48px;
    }

    .card-title {
        font-size: 1.75rem;
    }

    .plan {
        padding: 24px;
    }

    .card-description,
    .plan-type,
    .plan-price {
        font-size: 1rem;
    }
}